.length{
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */

  text-transform: uppercase;

  /* Primary/Mono/Grey (700) */

  color: #9DA6AB;
}
