.topicAndType{
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */

  text-transform: uppercase;

  /* Pillar/Pink (Knowledge) */

  color: #B71A5D !important;
}

