@font-face {
  font-family: "Gotham-Medium";
  src: local("Gotham-Medium"),
    url("./assets/fonts/Gotham-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Light";
  src: local("Gotham-Light"),
    url("./assets/fonts/Gotham-Light.otf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url("./assets/fonts/Gotham-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"),
    url("./assets/fonts/Gotham-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"),
    url("./assets/fonts/Gotham-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Thin";
  src: local("Gotham-Thin"),
    url("./assets/fonts/Gotham-Thin.otf") format("truetype");
}

.layout {
  flex-wrap: wrap !important;
  display: block;
}

.hero2Articles {
  .default-image {
    img {
      height: 157px !important;
    }
  }
  .topicAndType {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    text-transform: uppercase;

    /* Pillar/Pink (Knowledge) */

    color: #b71a5d;
  }
  .title {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    /* identical to box height, or 25px */

    /* Primary/Mono/Black */

    color: #000000;
  }

  .card__footer {
    margin-top: 0 !important;
    margin-bottom: 8 !important;
  }
}

.w-full {
  width: 100%;
}

img {
    max-width: 100% !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e4e6;
  margin: 24px 0;
  padding: 0;
}

.v-slide-group__next,
.v-slide-group__prev {
  display: none !important;
}